.mainFont {
  font-family: 'PT Mono', monospace;
}

.headerSetting {
  margin-left: 10px;
}

.container {
  display: flex;
  flex-wrap: column wrap;
}

.postSettings {
  border-style: double;
  border-color: black;
  padding: 5px;
  width: 100%;
}